/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.container h1 {
  text-shadow: 1px 1px 1px #ffffff;
  color: #666;
  font-size: 30px;
  font-weight: 100;
}
.container ul {
  list-style: none;
  font-size: 12px;
}
.container ul li {
  padding-bottom: 10px;
}
#no_geo {
  opacity: 1;
  background: #ffffed;
  -webkit-box-shadow: 1px 1px 3px #cccccc;
  -moz-box-shadow: 1px 1px 3px #cccccc;
  box-shadow: 1px 1px 3px #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666666;
  padding: 5px;
  margin-bottom: 10px;
}
.preload {
  margin-right: 5px;
}
#map_canvas {
  display: none;
  width: 100%;
  min-height: 300px;
  padding: 0;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px #cccccc;
  -moz-box-shadow: 1px 1px 3px #cccccc;
  box-shadow: 1px 1px 3px #cccccc;
  margin-bottom: 10px;
}
#no_location,
#location,
#error {
  display: none;
}
#location span {
  font-size: 14px;
  font-weight: bold;
}
input {
  margin-top: 10px;
}
.container .firstHeading {
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
  float: left;
  clear: both;
  margin: 0;
}
.container .bodyContent {
  float: left;
  clear: both;
}
#destination label {
  padding-bottom: 10px;
}
#destination_input {
  margin: 0;
}
.aclaration {
  font-size: 10px;
  width: 100%;
  padding-left: 10px;
}
#location_not_found,
#destination {
  border-top: 1px dashed #cccccc;
  padding-top: 10px;
  float: left;
  clear: both;
  width: 100%;
}
#destination {
  display: none;
}
#distance_road {
  padding-bottom: 10px;
}
#distance_road b {
  font-size: 14px;
}
#distance_direct b {
  font-size: 14px;
}
.opener {
  width: 100%;
}
.opener a.door {
  position: relative;
  font-weight: bold;
  padding-bottom: 5px;
  float: left;
  clear: both;
  outline: none;
}
.opener a.door span {
  background: url("../images/indicators.png");
  background-position: bottom right;
  height: 5px;
  position: absolute;
  right: -15px;
  top: 7px;
  width: 10px;
}
.opener a.door span.open {
  background-position: right top;
}
.opener a.door:hover span {
  background-position: left bottom;
}
.opener a.door:hover span.open {
  background-position: left top;
}
.help {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  float: left;
  border-top: 1px dashed #cccccc;
}
.help ul {
  display: none;
  list-style: circle;
  padding-top: 5px;
  padding-bottom: 10px;
  float: left;
  clear: both;
  border-bottom: 1px dashed #cccccc;
}
.help ul li {
  padding: 2px 0 0 0;
  margin: 0;
  line-height: 15px;
  float: left;
  clear: both;
}
.help a.door {
  font-weight: normal;
  font-size: 12px;
  margin: 0;
}
.ie7 #cookies {
  width: 98%;
}
#cookies {
  display: none;
  padding: 2px 1% 5px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin: 0;
  overflow: scroll;
  max-height: 120px;
  border: 1px solid #cccccc;
  border-top: 1px solid #999;
  background: #f9f9f9;
  float: left;
  clear: both;
}
#cookies li {
  padding: 0 10px;
  border-top: 1px dashed #cccccc;
  float: left;
  clear: both;
  width: 95%;
}
#cookies li:hover {
  background: #fff;
  text-decoration: none;
}
#cookies li:first-child {
  border-top: none;
}
#cookies li a {
  width: 100%;
  float: left;
}
@media (max-width: 480px) {
  .opener a.door {
    float: right;
    margin-right: 20px;
  }
  .help.opener a.door {
    float: left;
  }
}
